Source: qnotero
Section: science
Priority: extra
Maintainer: Sebastiaan Mathot <s.mathot@cogsci.nl>
Uploaders: Sebastiaan Mathot <s.mathot@cogsci.nl>
Build-Depends: debhelper (>= 7.0.50~), python3-support, python3-all
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://www.cogsci.nl/

Package: qnotero
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python3-pyqt4 (>= 4.6.0),
  python3-levenshtein
Recommends: 
Suggests: xul-ext-zotero zotero-standalone
Description: Qnotero is a sidekick to Zotero, the open-source reference manager.
  Zotero is an excellent tool for managing your reference, but it lacks a simple
  and direct way to search your references and open attached PDFs at the click
  of a button. Qnotero lives in the system tray of your desktop and provides
  quick access to your Zotero database, even if Zotero is not running.
